body.dragging {
  cursor: e-resize ;
}

#chart {
  /* background-color: red; */
  min-width: 100% ;
  position: relative;
  overflow-x: auto;
  /* background: red; */
  height: 400px;
  overflow-y: auto;
}

.date-groups{
  position: fixed;
  top: 0;
}
.month-heading {
  font-size: 14px;
  fill: #333;
  font-weight: bold;
}

.date {
  position: sticky;
  top: 0;
}

.grid-line {
  stroke: #ccc;
  stroke-width: 1;
}
.bar-hover {
  position: absolute;
  background-color: orange;
  display: block;
}

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
  
.dependency-line {
  stroke: black;
  stroke-width: 1.5; /* Line width */
}