body.dragging {
  cursor: e-resize ;
}
.add-button{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #3498db; 
  color: #ffffff; 
  border: 1px solid #2980b9; 
  border-radius: 5px; 
  cursor: pointer;
}
.add-button:hover {
  background-color: #2980b9; 
  color: #ffffff; 
}
#chart {
  /* background-color: red; */
  min-width: 100% ;
  position: relative;
  overflow-x: auto;
  /* background: red; */
  height: 400px;
  overflow-y: auto;
}

.date-groups{
  position: fixed;
  top: 0;
}
.month-heading {
  font-size: 14px;
  fill: #333;
  font-weight: bold;
}

.date {
  position: sticky;
  top: 0;
}

.grid-line {
  stroke: #ccc;
  stroke-width: 1;
}
.bar-hover {
  position: absolute;
  background-color: orange;
  display: block;
}

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
  