// Variables
$primary-color: #3498db;
$danger-color: #f44336;
$warning-color: #e3dc72;
$success-color: #04AA6D;
$sidebar-w: 20rem;

// Styles
body.dragging {
  cursor: e-resize;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.filter-form{
  display: flex;
  margin:10px;
}
.save-changes-btn {
  background-color: $success-color;
  color: #ffffff;
  border-color: $success-color;
  cursor: pointer;

  &:hover {
    background-color: darken($success-color, 10%);
    color: #ffffff;
  }
}

.delete-btn {
  background-color: $danger-color;
  color: #ffffff;
  border-color: $danger-color;
  cursor: pointer;

  &:hover {
    background-color: darken($danger-color, 10%);
    color: #ffffff;
  }

}

.cancel-btn {
  background-color: $warning-color;
  color: #ffffff;
  border-color: #a8dd14;
  cursor: pointer;

  &:hover {
    background-color: darken($warning-color, 10%);
    color: #ffffff;
  }
}
.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    font-weight: bold;
  }

  select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    font-weight: bold;
  }

  .error {
    color: $danger-color;
    font-size: 12px;
    font-weight: bold;
  }
}

select{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  width: inherit;
}

#chart {
  min-width: 100%;
  position: relative;
  overflow-x: auto;
  height: 400px;
  overflow-y: auto;

  #overall-div {
    display: flex;
    width: 2555px; //will adjust dynamically to the size of the container
  }
}
#mySvg {
  background-color: antiquewhite;
  position: absolute;
  left: 20rem;
  min-width: 100%;
  height: 200%;

  .dependency-line {
    stroke: rgb(57, 8, 255);
    stroke-width: 2;
  }
}

.date-groups {
  position: fixed;
  top: 0;
}

.month-heading {
  font-size: 14px;
  fill: #333;
  font-weight: bold;
}

#div-date {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;

  .day {
    position: absolute;
    z-index: 5;
  }

  .div-date {
    z-index: 1;
    position: sticky;
    top: 0;
  }

}

.grid-line {
  stroke: #ccc;
  stroke-width: 1;
}

.bar-hover {
  position: absolute;
  background-color: orange;
  display: block;
}

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}



.sidebar {
  border-radius: 10px;
  background-color: rgb(24 24 27);
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 770px;
  width: $sidebar-w;
  position: sticky;
  left: 0;
  top: 0;

  .taskbar {
    width: inherit;

    .main-task {
      justify-content: center;
      align-items: center;
      width: inherit;
      background-color: rgb(63 63 70);
      color: #ffffff;
      cursor: pointer;
      z-index: 5;
      position: absolute;
      display: flex;
    }

    .sub-task {
      display: flex;
      height: auto;
      justify-content: center;
      align-items: center;
      width: calc($sidebar-w - 2rem);
      left: 10px;
      color: #ffffff;
      border: 1px dotted rgb(82 82 91);
      border-radius: 5px;
      cursor: pointer;
      z-index: 2;
      position: absolute;
    }
  }
}

.add-tasks {
  position: fixed;
  z-index: 3;

  .add-button {
    border: none;
    padding: 16px 6px;
    background-color: rgb(77, 124, 15);
    fill: white;
    border-bottom-right-radius: 10px;
    position: relative;
    cursor: pointer;
    display: flex;
    width: 100px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 2px 2px 4px rgba(21, 206, 8, 0.3);
    transition: all 0.3s ease-in;

    svg {
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
      width: 100%;
    }

    &:hover {
      transition: all 3s ease-in-out;

      &::after {
        content: "Add Task";
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: x-small;
      }

      svg {
        display: none;
      }
    }
  }
}
